<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Updates</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          name="qr-code-outline"
          slot="end"
          class="ion-margin-start"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          name="camera-Outline"
          slot="end"
          class="ion-margin justify"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="search" slot="end" class="ion-margin-justify">
        </ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          name="ellipsis-Vertical-Outline"
          slot="end"
          class="ion-margin-end"
        >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 class="ion-margin-start">Status</h2>
  <ion-list>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>
      <ion-fab>
        <ion-fab-button size="small" color="success">
          <ion-icon name="add" size="small"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-label class="ion-padding-start">
        <h2><b>My Status</b></h2>
        <p>Tap to add status update</p>
      </ion-label>
    </ion-item>
    <h6 class="ion-margin-start">Recent updates</h6>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Thambi</b></h2>
        <ion-text>11:06am</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Albert Brother</b></h2>
        <ion-text>Yesterday</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Raj Decoration Center</b></h2>
        <ion-text>Yesterday</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Ganesh</b></h2>
        <ion-text>Yesterday</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Nilofer</b></h2>
        <ion-text>9.45pm</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>3rd Bca</b></h2>
        <ion-text>Yesterday</ion-text>
      </ion-label>
    </ion-item>
    <h6 class="ion-margin-start">Viewed updates</h6>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Jeni New</b></h2>
        <ion-text>11:06am</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>Guna Jan10</b></h2>
        <ion-text>Yesterday</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>saranya</b></h2>
        <ion-text>8:06am</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar>
        <img
          src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-souvenirpixels-414612.jpg&fm=jpg"
          alt=""
        />
      </ion-avatar>

      <ion-label class="ion-padding-start">
        <h2><b>saranya</b></h2>
        <ion-text>8:06am</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none"></ion-item>

    <h2 class="ion-margin-start">Channels</h2>

    <ion-button color="success" mode="ios" class="ion-margin-start">
      <ion-text color="light">Explore More</ion-text>
    </ion-button>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="light" size="small">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="30px"
        viewBox="0 -960 960 960"
        width="20px"
        fill="#5f6368"
      >
        <path
          d="M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z"
        />
      </svg>
    </ion-fab-button>
    <ion-fab-button color="success" size="small">
      <ion-icon name="camera-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer slot="fixed">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="chat">

          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="#5f6368"
            [routerLink]="['/chat']"
          >
            <path
              d="M240-384h336v-72H240v72Zm0-132h480v-72H240v72Zm0-132h480v-72H240v72ZM96-96v-696q0-29.7 21.15-50.85Q138.3-864 168-864h624q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H240L96-96Zm114-216h582v-480H168v522l42-42Zm-42 0v-480 480Z"
            />
          </svg>
          Chats
        </ion-tab-button>

        <ion-tab-button tab="status">
          <ion-icon name="disc-outline"></ion-icon>
          Updates
        </ion-tab-button>

        <ion-tab-button tab="person">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="#5f6368"
          >
            <path
              d="M0-240v-59q0-51 45-80t123-29q15 0 30 1.5t30 4.5q-17 20-26.5 45t-9.5 50.56V-240H0Zm240 0v-61q0-27.86 14.5-50.93T293-387q44-22 91-33.5t95.53-11.5Q529-432 576-420.5t91 33.5q24 12 38.5 35.07T720-301v61H240Zm528 0v-67.37q0-26.95-9.5-50.79T732-402q17-3 31.5-4.5T792-408q78 0 123 29t45 80v59H768Zm-454-72h332q-7-17-59.5-32.5T480-360q-54 0-106.5 15.5T314-312ZM167.79-456Q138-456 117-477.03q-21-21.02-21-50.55Q96-558 117.03-579q21.02-21 50.55-21Q198-600 219-579.24t21 51.45Q240-498 219.24-477t-51.45 21Zm624 0Q762-456 741-477.03q-21-21.02-21-50.55Q720-558 741.03-579q21.02-21 50.55-21Q822-600 843-579.24t21 51.45Q864-498 843.24-477t-51.45 21ZM479.5-480q-49.5 0-84.5-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85.5q0 49.5-35 84.5t-85.5 35Zm.5-72q20.4 0 34.2-13.8Q528-579.6 528-600q0-20.4-13.8-34.2Q500.4-648 480-648q-20.4 0-34.2 13.8Q432-620.4 432-600q0 20.4 13.8 34.2Q459.6-552 480-552Zm0 240Zm0-288Z"
            />
          </svg>
          Communities
        </ion-tab-button>

        <ion-tab-button tab="calls">
          <ion-icon name="call-outline"></ion-icon>
          Calls
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
