<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Communities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-center">
    <img
      src="../../assets/icon/Screenshot from 2024-10-25 17-29-22.png"
      alt=""
      class="image"
    />
  </div>
<ion-text>
  <h3 class="ion-margin-start"><b>Stay Connected with a community</b></h3>
  <p class="ion-margin-start">
    Communities bring members together in topic-based groups, and make it easy
    to get admin announcements. Any community you're added to will appear here
  </p>
  <h6 class="ion-margin-start">See example Communities</h6>
    <ion-button color="success" mode="ios">
      <ion-text color="light">Start your community</ion-text>
    </ion-button>
</ion-text>

</ion-content>
